/* Background.css */
body {
  margin: 0;
  padding: 0;
  background-color: black; 
}

/* Background.css */
.background-section {
  position: relative;
  background-image: url("./HeroSection.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.background-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  background-color: black;
}

/* Navbar styles */
.navbar-main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-item {
  color: #ffffff !important;
}

.nav-tabs {
  position: fixed;
  top: 56px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: left;
  left: 5%;
  z-index: 1001;
  color: #ffffff;
  border: 0;
}

.nav-tabs li {
  margin-right: 10px;
}

/* Content styles */
.content-wrapper {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #ffffff;
}

/* Make content styles responsive */
@media (min-width: 768px) {
  .content-wrapper {
    left: 15%;
  }
}

.content-heading {
  font-size: 2em;
}

.content-text {
  margin-top: 10px;
}

.content-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
}

.content-left {
  margin-left: -100px;
}

/* Move the image to the left on smaller screens */
.bottom-right-image {
  margin-left: 800px;
  margin-top: 150px;
  bottom: 10%;
  right: 5%;
  width: 200px;
  height: auto;
}

.divide {
  display: flex;
}

.scrollable-section {
  height: 100vh;
  overflow-y: auto;
}


@media (max-width: 768px) {
  .bottom-right-image {
    bottom: 5%;
    right: 2%;
  }
}


@media (max-width: 500px) {
 
  .bottom-right-image {
    position: relative;
    top:250px; 
    right: 60%;
    margin:0;
  }
}

/* AboutUs.css */


.about-us-section {
  padding: 20px;
}

.about-us-content {
  max-width: 1200px;
  margin: 0 auto;
}

.about-us-header {
  text-align: left;
  display: flex;
}

.our-business-header a {
  margin-left: auto;
}

.about-us-columns {
  display: flex;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.imgrow {
  flex-direction: column;
}

.row-light {
  color: rgba(255, 255, 255, 0.53);
}

.row {
  margin-bottom: 10px;
}

.image-container {
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  width: 60%;
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .about-us-columns {
    flex-direction: column;
  }

  .column {
    margin-right: 0;
  }

  .imgrow {
    flex-direction: column;
  }

  .image-container img {
    width: 100%; 
    margin-left: 0; 
    margin-top: 20px; 
  }
}

/* Styles for OurBusiness component */
.our-business-section {
  background-color: white;
  color: black;
  padding: 20px;
  /* margin-bottom: 120px; */
  height: 100vh;
}
.our-business-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-business-header a {
  margin-left: auto;
  padding-bottom: 40px;
}

.our-business-content {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
 
}

.our-business-text {
  order: 1; 
}

.our-business-images {
  order: 2; 
  margin-top: 30px;

}

.image-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.our-business-images img {
  width: 50%; 
  height: 40%;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .our-business-images img {
    width: 100%; 
    height: auto; 
    margin-bottom: 10px;
  }
  .our-business-section{
    height:50%;
  }
}



/* Styles for AboutUs component */
.about-us-section {
  color: white;
  padding: 20px;
}

.about-us-content {
  max-width: 1200px;
  margin: 0 auto;
}

.about-us-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.column {
  flex-basis: 30%;
}

.row {
  margin-bottom: 10px;
}

.column img {
  max-width: 100%;
  height: 100%;
}




/* Styles for OurDirectors component */
.our-directors-section {
  background-color: #000080;
  color: white;
  padding: 20px;
  height: 100vh;
  padding-top: 40px;
}

.our-directors-content {
  flex-direction: column;
  align-items: center;
}

.our-directors-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 100px; 
}


.arrow-marks {
  display: flex;
  margin-top: 10px;
  font-size: 24px;
 
}

.our-directors-cards {
  flex-basis: 35%;
  margin-top: 20px;
  justify-content: space-around;
}

.card-row {
  display: flex;
  justify-content: end;
 
}
.directors{
  background-color: #000080;
  color:#ffffff;
}
/* Your existing styles */

@media screen and (max-width: 500px) {
  .our-directors-section {
    height: auto; 
  padding-left: 80px;;
  }

  .our-directors-text {
    margin: 0 20px; 
  }

  .our-directors-cards {
    flex-basis: 100%; 
  }

  .card-row {
    flex-direction: column; 
  }

  .card-container {
    flex-basis: 100%; 
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}

.custom-card-body {
  background-color: #000080; 
  border-bottom-left-radius: inherit; 
  border-bottom-right-radius: inherit; 
}

.card-container {
  flex-basis: 30%; 
  margin-right: 10px;
}

/* Styles for LatestNews component */
.latest-news-section {
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-left: 100px;
 
  height: 100vh; 
}

.latest-news-header {
  background-color: #f4f4f4;
  justify-content: space-between;
  display: flex;
  margin-right:200px;
}

.latest-news-cards {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  background-color: #f4f4f4;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.card-row-latest {
  display: flex;
  justify-content: space-between; 
}

.card-container-latest {
  flex-basis: 30%; 
  margin-right: 10px; 
}

.additional-info {
  display: flex;
}

.text-right {
  margin-left: auto;
}


.latest-news-cards::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .latest-news-section {
    height: auto; 
    padding-left: 20px;
  }

  .latest-news-header {
    margin: 0 20px; 
  }

  .latest-news-cards {
    flex-direction: column; 
    align-items: center; 
    overflow-x: hidden; 
    height: auto; 
  }

  .card-row-latest {
    flex-direction: column; 
  }

  .card-container-latest {
    flex-basis: 100%; 
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}



.home-page {
  background-size: cover;
}

.background-last {
  position: relative;
  background-image: url('./FooterBackground.png');
  background-size: cover;
  background-position: center;
  height: 400px; 
  color: white;
}
.content-footer-left{
  margin-left: -45px;
}

.text-container {
  position: absolute;
  top: 66%;
  right: 0%;
  transform: translate(0%, -50%);
  z-index: 1; 
  border: 1px solid rgb(62, 52, 170); 
  background-color: #000080;
  padding: 60px 300px;
  border-top-left-radius: 20%;
}

.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.blue-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.footer-section {
  background-color: blue;
  height: 40vh;
  padding-top: 50px;
  color: white;
  padding-bottom: 30px;
  padding-left: 50px;
 
  display: flex;
  flex-wrap: wrap; 
  padding-bottom: 50px;
}

.footer-column {
  flex: 1;
  padding: 0 10px; 
  box-sizing: border-box; 
  width: 100%; 
}


.footer-section p {
  margin: 0;
}

.icon {
  display: flex;
}

.additional-content {
  background-color: blue;
  height: 50px;
  padding-left: 92px;
  border-top: 1px solid #f4f4f4;
  padding-bottom: 100px;
  color: #ffffff;
  padding-top: 20px;
}

@media (max-width: 500px) {
  .additional-content {
    width: 100%; 
    padding: 0 20px; 
  }
  .text-container{
    padding-right: 120px;
  }
  .footer-section{
    padding-right: 50px;
  }
}


.line-container {
  display: flex;
}

.line-container div {
  margin-right: 30px; 
background-color:blue;
}

.footer-style {
  display: flex;
  margin: auto;
}

.copyright {
  display: flex;
  background-color: blue;
}

.copyright p {
  margin-left: 10px;
}




@media (max-width: 500px) {
  .footer-section {
    flex-wrap: nowrap; 
  }

  .footer-column {
    width: 100%; 
    box-sizing: border-box; 
    
  }
  .copyright{
    margin: 0 -20px;
    padding-left: 20px;
  }
}

